# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec
!webgotool.spec

# Virtual env
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs & data
logs/
*.log

# Screenshots
screenshots/

# OS
.DS_Store
Thumbs.db

# Temp Chrome profile (generated at runtime)
*webgotool_chrome_profile*

# PyInstaller working dir
*.spec.bak
